// colour
$white: #fff;
$black: #101010;
$blue: #003153;

// sizing
$space: 8px;

// height
$indexCanvas: 1;
$indexCanvasOverlay: 2;

// animation
$transition: 0.35s;
$transitionSlow: 0.7s;

// style
$border: 1px solid $white;
