// colour
$white: #eee;
$black: #444444;
$blue: #003153;
$green: #00dd00;
$red: #ff0000;
$loadingScreenColour: #333;

// sizing
$space: 8px;

// height
$indexCanvas: 1;
$indexOverlay: 100;
$indexNav: 90;
$indexLoadingScreen: 999;

// animation
$transition: 0.35s;
$transitionSlow: 0.7s;

// style
$border: 1px solid $white;

// breakpoints
$mobile: 760px;
$tablet: 1024px;
