.canvas-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: $indexCanvas;
  border: 2px solid blue;
  //border-radius: $space * 4;
  overflow: hidden;

  canvas {
    width: 100% !important;
    height: 100% !important;
    background: black;
  }
}
