.canvas-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: $indexCanvas;
  overflow: hidden;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 2;
    cursor: crosshair;
    transform: translate(8.5vw, 0);
  }

  @media screen and (max-width: $mobile) {
    canvas {
      transform: translate(0, 0);
    }
  }
}
