*, div {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100vh;
  font-family: $fontStack;
  font-size: $fontSize;
  letter-spacing: $letterSpacing;
  line-height: $lineHeight;
  background: $black;
  color: $white;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

a {
  color: inherit;
  text-decoration: none;
}
