.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $indexLoadingScreen;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($white, 0.25);

  .loading-screen__inner {
    color: $black;
    font-size: $fontSizeLarge;
  }
}
