.nav {
  position: fixed;
  bottom: $space * 2;
  right: $space * 2;
  color: $white;
  z-index: $indexNav;
  user-select: none;
  display: flex;
  background: linear-gradient(0deg, $green, transparent 1px),
    linear-gradient(90deg, $green, transparent 1px);
  background-size: 7px 3px;

  .nav__item {
    @include padding(1, 0.75);
    cursor: pointer;
    font-size: $fontSizeMedium;
    font-weight: bold;
    color: $white;

    &:hover {
      color: $red;
      text-shadow: 1px 1px $black, -1px -1px $black;
    }

    &.active {
      color: $green;
    }
  }
}
