.nav {
  position: fixed;
  padding: $space * 2;
  bottom: 0;
  right: 0;
  width: 70vw;
  //height: 10vh;
  color: $white;
  z-index: $indexNav;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: $frameBorder;
  font-size: $fontSizeLarge;

  .nav__item {
    @include padding(1, 0.75);
    cursor: pointer;
    //font-weight: bold;
    color: $white;

    &:hover {
      //text-shadow: 1px 1px $black, -1px -1px $black;
      text-decoration: underline;
    }

    &.active {
      text-decoration: underline;
      color: $green;
    }
  }

  @media screen and (max-width: $mobile) {
    right: auto;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    justify-content: center;
    /*
    background: linear-gradient(0deg, $green, transparent 1px),
      linear-gradient(90deg, $green, transparent 1px);
    background-size: 3.5px 3px;
    */
    .nav__item {
      font-size: $fontSize;
    }
  }
}
