.overlay {
  position: fixed;
  z-index: $indexOverlay;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .overlay__hotspot {
    width: 4vw;
    height: 4vw;
    position: fixed;
    transform: translate(-50%, -50%);
    user-select: none;
    pointer-events: all;
    cursor: pointer;

    .label {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -100%);
      pointer-events: none;
      font-size: $fontSizeMedium;
      font-weight: bold;
      opacity: 0;
      white-space: nowrap;
    }

    .content {
      @include padding(8, 8);
      //position: absolute;
      position: relative;
      width: 100%;
      height: 100%;
      //top: 50%;
      //left: 50%;
      //transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      display: none;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      iframe {
        width: 100%;
        height: 100%;
        max-height: 80%;
        outline: none;
        border: none;
      }

      .description {
        @include padding(1.5, 1);
        background: $white;
        color: $black;
        font-size: $fontSizeMedium;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        strong {
          color: $red;
        }

        a {
          text-decoration: underline;
          color: $red;
          font-weight: bold;
        }
      }

      .overlay__hotspot-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        cursor: pointer;
        font-size: $fontSizeLarge;
        color: $green;
        font-weight: bold;
        user-select: none;
        pointer-events: all;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $black;
        z-index: 1;
        display: none;

        &:hover {
          color: red;
        }
      }
    }

    &:hover {
      outline: 2px dashed red;

      .label {
        opacity: 1;
      }
    }

    &.transition {
      transition: width $transition, height $transition, transform $transition;
      transition-timing-function: linear;

      .content {
        display: flex;
      }
    }

    &.active {
      background: linear-gradient(0deg, $green, transparent 1px), linear-gradient(90deg, $green, transparent 1px);
      background-size: 6px 8px;
      display: flex;
      position: fixed;
      width: 40vw;
      height: 25vw;
      transform: translate(-50%, -50%);
      cursor: crosshair;
      z-index: 999;
      transition-timing-function: linear;
      outline: 2px dashed red;

      .content {
        display: flex;

        .overlay__hotspot-close {
          display: flex;
        }
      }
    }

    &.overlay__hotspot--contact, &.overlay__hotspot--wide {
      width: 20vw;
      height: 8vw;
    }

    &.overlay__hotspot--button {}

    &.overlay__hotspot--tall {
      width: 4.5vw;
      height: 5.5vw;
      transform: translate(-50%, calc(-100% + 2vw));

      .project-title {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        pointer-events: none;
        font-size: $fontSizeMedium;
        text-shadow: 0px 0px 4px $red, 0px 0px 4px $red, 0px 0px 4px $red;
        font-weight: bold;
        opacity: 0;
      }

      &:hover {
        .project-title {
          opacity: 1;
        }
      }
    }

    &.hidden {
      display: none;
    }
  }

  @media screen and (max-width: $mobile) {
    .overlay__hotspot {
      .content {
        @include padding(6, 4);

        .description {
          max-width: 100%;
        }
      }
    }
  }
}
