#text-container {
  position: fixed;
  top: 0;
  left: 0;
  font-size: $fontSizeLarge;
  width: 22.5vw;
  height: 100vh;
  border-right: $frameBorder;
  @include padding(2, 2);
  user-select: none;
  z-index: $indexText;

  // reverse scrollbar
  overflow-x: visible;
  overflow-y: scroll;
  direction: rtl;

  &::-webkit-scrollbar {
    display: none;
  }

  > span, > div {
    direction:ltr;
  }

  [data-target] {
    display: none;

    &.active {
      display: block;
    }
  }

  .back-button {
    font-size: $fontSizeLarge;
    cursor: pointer;
    line-height: 1;
    display: inline-block;
    font-size: 70%;
    //color: $green;

    &:hover {
      color: $green;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  span {
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    color: $green;
  }

  .heading {
    font-weight: bold;
    text-decoration: underline;
  }

  .button {
    cursor: pointer;
  }

  a:hover, .button:hover {
    color: $green;
    text-decoration: underline;
  }

  &:after {
    content: ' ';
    width: 40px;
    height: 40px;
    border: $frameBorder;
    position: absolute;
    top: 100%;
    left: 100%;
    height: 10vh;
    width: 10vw;
    border-bottom-left-radius: 100px;
    border-top: none;
    border-right: none;
  }

  [data-target="work"], [data-target="corpo"] {
    [data-group] {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 16px;
      // text-transform: uppercase;

      &:first-child {
        padding-top: 0;
      }

      span {
        // font-size: 75%;
        font-weight: bold;
        text-decoration: underline;
        text-transform: lowercase;
      }
    }
  }

  [data-target="contact"] {
    .heading {
      font-weight: bold;
      text-decoration: underline;
      color: $green;
      padding-top: $space * 2;
      text-transform: lowercase;

      &:first-child {
        padding-top: 0;
      }
    }

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: $green;
      }
    }
  }

  @media screen and (max-width: $mobile) {
    font-size: $fontSize;
    width: 100%;
    height: 30vh;
    text-align: center;

    [data-target="work"].active,
    [data-target="corpo"].active {
      display: inline-flex;
      justify-content: center;
      flex-wrap: wrap;

      [data-group] {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 0;// $space;

        div {
          @include padding(1, 0);

          &:before {
            content: '';
          }
        }
      }
    }

    &:after {
      display: none;
    }
  }
}
