#text-container {
  position: fixed;
  top: 0;
  left: 0;
  font-size: $fontSizeLarge;
  width: 20vw;
  height: 80vh;
  border-right: $frameBorder;
  @include padding(2, 2);
  user-select: none;
  z-index: $indexText;

  [data-target] {
    display: none;

    &.active {
      display: block;
    }
  }

  span {
    color: $green;
  }

  .button {
    cursor: pointer;
  }

  a:hover, .button:hover {
    color: $green;
    text-decoration: underline;
  }

  &:after {
    content: ' ';
    width: 40px;
    height: 40px;
    border: $frameBorder;
    position: absolute;
    top: 100%;
    left: 100%;
    height: 10vh;
    width: 10vw;
    border-bottom-left-radius: 100px;
    border-top: none;
    border-right: none;
  }

  @media screen and (max-width: $mobile) {
    font-size: $fontSize;
    width: 100%;
    height: 30vh;
    text-align: center;

    [data-target="work"].active {
      display: inline-flex;
      justify-content: center;
      flex-wrap: wrap;

      [data-year] {
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;

        div {
          @include padding(1, 0);

          &:before {
            content: '';
          }
        }
      }
    }

    &:after {
      display: none;
    }
  }
}
